<div class="input{{#if className}} {{ className }}{{/if}}">
  <div class="input__label">{{ title }}</div>
  <div class="input__element">
    <input
        class="input__element__body"
        type="{{ type }}" title="{{ title }}" name="{{ name }}" value="{{value}}">
    </div>
</div>