<div class="profile-page">
    {{#> Modal id='profileAvatarSettingModal' title="Загрузите файл" btnText='Поменять'}}
        {{> InputFile isMultiple='false' id="avatar" name="avatar" accept="image/png, image/jpeg, image/jpg"}}
    {{/ Modal }}
    <aside class="profile-page__sidebar">
        {{#> Button page="chat" circle=true }}
            <img src='/icons/arrow-left.svg' page="chat" alt="Arrow left icon"><img>
        {{/ Button }}
    </aside>
    <main class="profile-page__main">
        <div class="profile-page__main__container">
            <div class="profile-page__main__avatar">
                <img width="40px" height="40px" alt="User avatar" src={{#if avatar}}{{ avatar }}{{else }}'/icons/img.svg'{{/if}}><img>
            </div>
            <div><span class="profile-page__main__name-text">{{ name }}</span></div>
            <form>
                <div class="profile-page__main__body">
                    {{#if isChangePass }}
                        {{> ProfileItem name="oldPassword" type="password" label="Старый пароль" }}
                        {{> ProfileItem name="newPassword" type="password" label="Новый пароль" }}
                        {{> ProfileItem name="repeatNewPassword" type="password" label="Повторите новый пароль" }}
                    {{else}}
                        {{> ProfileItem name="email" label="Почта" isDisabled=isDisabled value=email }}
                        {{> ProfileItem name="login" label="Логин" isDisabled=isDisabled value=login }}
                        {{> ProfileItem name="first_name" label="Имя" isDisabled=isDisabled value=first_name }}
                        {{> ProfileItem name="second_name" label="Фамилия" isDisabled=isDisabled value=second_name }}
                        {{> ProfileItem name="display_name" label="Имя в чате" isDisabled=isDisabled value=display_name }}
                        {{> ProfileItem name="phone" label="Телефон" isDisabled=isDisabled value=phone }}
                    {{/if}}
                </div>
                <div class="profile-page__footer">
                    {{#if_not_profile isChangePass isDisabled}}
                        {{#> Button  page="profile"}}
                            <span page="profile">Сохранить</span>
                        {{/ Button }}
                    {{else}}
                        <div class="profile-page__footer__item">
                            {{#> Button ghost='true' }}
                                <span page="profile-update">Изменить данные</span>
                            {{/ Button }}
                        </div>
                        <div class="profile-page__footer__item">
                            {{#> Button ghost='true' }}
                                <span page="profile-change-pass">Изменить пароль</span>
                            {{/ Button }}
                        </div>
                        <div class="profile-page__footer__item">
                            {{#> Button ghost='true' warning='true' className='profile-page__footer__btn--warning' }}
                                <span page="chat">Выйти</span>
                            {{/ Button }}
                        </div>
                    {{/if_not_profile}}
                </div>
            </form>
        </div>
    </main>
</div>
