<div class="messages-feed">
    {{!-- <span class="messages-feed__no-data">Выберите чат чтобы отправить сообщение</span> --}}
    {{> MessagesFeedHeader chatAvatar=avatar chatName=display_name}}
    <main class="messages-feed__main">
        <div class="messages-feed__main__date"><span>{{chat.date}}</span></div>
        {{#each chat.user_1}}
            <div class="messages-feed__main__user-message">
                <p class="messages-feed__main__user-text">{{message}}</p>
                <div class="messages-feed__main__user-time">{{time}}</div>
            </div>
            <img class="messages-feed__main__user-message" alt="Image icon" src="/img.png" />
        {{/each}}
        {{#each chat.user_2}}
            <div class="messages-feed__main__owner-message">
                <p class="messages-feed__main__owner-text">{{message}}</p>
                <div class="messages-feed__main__owner-time">{{time}}</div>
            </div>
        {{/each}}
    </main>
    {{> MessagesFeedFooter chatAvatar=avatar chatName=display_name}}
</div>
